.datetime{

    margin-left: 80%;
    margin-top: -35%;

    h3{
        color: #0057A3;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        
    }
}